<h2>Departments</h2>

<ul>
    {% for department in departments %}
        <li>
            {{ department.dept_name }} - {{ department.description }}
            <a href="{% url 'department_update' dept_id=department.dept_id %}">Edit</a>
            <a href="{% url 'department_delete' dept_id=department.dept_id %}" onclick="return confirm('Are you sure you want to delete this department?');">Delete</a>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'department_create' %}">Create New Department</a>
